# The sample configurations for plugins are in */config.py.template,
# stored in the repository. They should be copied (or symlinked) to
# config.py, to be modified locally and not not be stored in the
# repository.

*/config.py
