
"""
korpplugins.config

Configuration module for korpplugins.
"""


# HANDLE_NOT_FOUND controls what to do when a plugin is not found:
# "error" = throw an error, "warn" = output a warning to the standard
# error but continue, "ignore" = silently ignore
HANDLE_NOT_FOUND = "warn"

# LOAD_VERBOSITY controls what is output to the console when loading
# plugins: 0 = nothing, 1 = plugin names only, 2 = plugin names and
# plugin function names
LOAD_VERBOSITY = 1
