
"""
korpplugins.lemgramcompleter.config (template)

Sample configuration for korpplugins.lemgramcompleter.
"""


# The name of the lemgram index table in the MySQL database
LEMGRAM_DBTABLE = "lemgram_index",
